.loader {
  color: #eee;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 6vh;
  opacity: 0.8;
  -webkit-animation: start 1s ease-in-out 1;
          animation: start 1s ease-in-out 1;
}
.loader span {
  display: inline-block;
  -webkit-animation: pulse 0.4s ease-in-out 0.6s infinite alternate;
          animation: pulse 0.4s ease-in-out 0.6s infinite alternate;
}
.loader span:nth-child(2) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}
.loader span:nth-child(3) {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
@-webkit-keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.8;
  }
}
@keyframes pulse {
  to {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.8;
  }
}
@keyframes start {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 0.8;
    }
}
@-webkit-keyframes start {
    from{
        opacity: 0.1;
    }
    to{
        opacity: 0.8;
    }
}
html,
body {
    height: 100%;
}
.shtora{
    z-index: 9998;
    background-color: #333;
    position: fixed;
    top: 0;
    left:0;
    display: block;
    width: 50%;
    height: 50%;
}
.right-top-shtora{
    left:50%;!important;
}
.right-bottom-shtora{
    left:50%;!important;
    top:50%;!important;
}
.left-bottom-shtora{
    top:50%;!important;
}
.loader {
    position: fixed;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
    z-index: 9999;
    transform: scale(6);
}
